.details {
    text-align: center;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
.details p{
    margin: 10px 0px 10px 0px;
}

.details button{
    margin-top: 20px;
    padding: 10px;
    background-color: #FF8C00;
    border-width: 3px;
    border-radius: 25px;
    border-color: #DCDCDC;
    border-style: solid;
}

.details button:hover{
    background-color: orangered;
  }

.details button:active{
    box-shadow: 1px 1px 5px 3px #808080;
  }

.details-header {
    background-color: #FF8C00;
    border-radius: 10px;
    max-width: fit-content;
    padding: 5px 10px;
    margin-right: auto;
    margin-left: auto;
}

.details-title-header {
    background-color: #FF8C00;
    border-radius: 10px;
    max-width: fit-content;
    padding: 5px 10px;
    margin-right: auto;
    margin-left: auto;
}

.details h2 {
    margin: 10px 0px 10px 0px;
}
