.Form {
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.Form label{
    text-align: left;
}

.Form input, .Form  textarea, .Form select{
    width: 100%;
    display: block;
}

.Form button{
    margin-top: 20px;
    padding: 10px;
    background-color: #FF8C00;
    border-width: 3px;
    border-radius: 25px;
    border-color: #DCDCDC;
    border-style: solid;
}

.Form button:hover{
    background-color: orangered;
  }

.Form button:active{
    box-shadow: 1px 1px 5px 3px #808080;
  }