.home {
    max-width: 600px; /* defines box width */
    margin: 0 auto;   /* defines margins for the box */
    padding: 20px;    /* define padding between the box and other items (not items inside the box)*/
    text-align: center; /* text-allign allign text inside the box */
  }
  
  .home button{
    width: 80px;
    margin: 10px;
    padding: 5px;
    background-color: #FF8C00;  
    border-style: solid;
    border-color: #DCDCDC;
    border-width: 3px;
    border-radius: 25px;
  }
  
  .home button:hover{
    background-color: red;
  }
  
  .home button:active{
    background-color: #B22222;
  }